@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.P{
text-align: start;
padding-top: 5px;
padding-left: 50px;
font-family: Poppins;
}

.P2{
  text-align: end;
  padding-right: 50px;
  font-family: Poppins;
}

.Cuadro {
  width: 550px;
  height: 460px;
  border-radius: 30px;
  border-style: solid;
  background: #e0e0e0;
}

.nose{
  min-height: 100vh;
  display: grid;
  place-items: center;            /* centra en ambos ejes */
  padding: 2rem;
}

.box-fila {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16xp;
}

.centro{
  text-align: center;
  font-family: Poppins;
  padding: 25px;
}

.txt{
  font-size: xx-large;
  font-family: Nunito;
}

.app{
  text-wrap-style: auto;
  color: black;
  min-height: 100vh;
  font-family: Nunito;
}

.btn {
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  border-radius: 999px;
  font-weight: 500;
  font-size: 0.95rem;
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.primary:hover {
  background: #1d4ed8;
}

.btn.secondary {
  background: #e5e7eb;
  color: #111827;
}

.btn.secondary:hover {
  background: #d1d5db;
}


